body {

}

.span2{
	min-height:500px;
	background-color:#efefef;
}

.span10{
	background-color:#bbd8e9;
}

footer{
    position:fixed;
    bottom:0;
}

.container{
    min-height:400px;
}

.btn-group{
    text-align:left;
    position:absolute;
    left:50%;
    margin-left: 0px;
    top:200px;
}

#autoType{
    margin:0 auto;
    position:relative;
    height:30px;
    float:left;
    margin-right:100%;
    margin-bottom:20px;
}

.label{
    cursor:pointer;
}

.well{
    margin-top:20px;
    float:left;
    margin-right:100%;
    width:100%;
}